/* start coding here */
input{
    height: 50px;
    width: 120px;
    border-radius: Radius 3px;
}
button{
    height: 38px;
    width: 120px;
    border-color: lightgrey;
    background-color: khaki;
}